<div *ngIf="idCardInfo" class="row">
  <div class="col-md-12 col-sm-12 col-xs-12 div-idcard" id="idCard">
    <div class="col-md-3 col-sm-12 col-xs-12">
      <div class="id-card-holder" [ngStyle]="{'background-image':'url(data:image/jpeg;base64,'+dynamicFrontImage+')'}" id="divEmpidCard">
        <div class="photo">
          <img [src]="imgSrc">
        </div>
        <h2>{{name}}</h2>
        <h3>{{designation}}</h3>
        <h3>ID: {{dcid}}</h3>
      </div>
    </div>
    <div class="col-md-3 col-sm-12 col-xs-12">
      <div class="id-card-holder-back" [ngStyle]="{'background-image':'url(data:image/jpeg;base64,'+dynamicRearImage+')'}" id="divEmpidCard1">
        <div class="">
          <ngx-qrcode [qrc-element-type]="elementType" [qrc-value]="userName">
          </ngx-qrcode>
        </div>
        <h2>Resi. Address:</h2>
        <h3>{{userAddress}}</h3>
        <h2>Contact No:</h2>
        <h3>{{phone}}</h3>
      </div>
    </div>
    <div class="col-md-6 col-sm-12 col-xs-12"></div>
  </div>
  <div class="clearfix"></div>
  <div class="btn-download">
    <button (click)="captureScreen()">Download</button>
  </div>
</div>
<div class="clearfix"></div>
<admin-footer></admin-footer>