<div class="id-card-holder" id="divEmpidCard">
  <div class="id-card">    
    <div class="photo">
      <img src="assets/img/logo_fillsize.png">
    </div>
    <h2>Kiran Das DA</h2>
    <div class="qr-code">
      <img src="assets/img/logo_fillsize.png">
    </div>
    <h3>www.diamandcare.in</h3>
    <hr>
    <p>
      <strong>"PENGG"</strong>HOUSE,4th Floor, TC 11/729(4), Division Office Road
    </p>
    <p>Near PMG Junction, Thiruvananthapuram Kerala, India
      <strong>695033</strong>
    </p>
    <p>Ph: 9446062493 | E-ail: info@onetikk.info</p>

  </div>
</div>

<button (click)="downloadPDF()">Download</button>