<!-- <app-treeview [lstTreeData]="lstTreeData"></app-treeview> -->
<!-- <div style="overflow:auto !important">
    <p-organizationChart [value]="lstTreeData" selectionMode="single" [(selection)]="selectedNode" (onNodeSelect)="onNodeSelect($event)"
        styleClass="company">
        <ng-template let-node pTemplate="person">
            <div class="node-header ui-corner-top">{{node.label}}</div>           
        </ng-template>
        <ng-template let-node pTemplate="department">
            {{node.label}}
        </ng-template>
    </p-organizationChart>
</div>

<div style="overflow:auto !important">
    <p-organizationChart [value]="lstTreeChildData" selectionMode="single" [(selection)]="selectedNode" (onNodeSelect)="onNodeChildSelect($event)"
        styleClass="company">
        <ng-template let-node pTemplate="person">
            <div class="node-header ui-corner-top">{{node.label}}</div>          
        </ng-template>
        <ng-template let-node pTemplate="department">
            {{node.label}}
        </ng-template>
    </p-organizationChart>
</div> -->

<body>
    <svg width="1200" height="1300"></svg>
</body>

<script src="https://d3js.org/d3.v4.min.js"></script>


<app-treeview *ngIf="flag" [userIDInt]="userIDInt"></app-treeview>


<admin-footer></admin-footer>