<div class="feemaster-container" @slideUp>
  <div class="feemaster-form">
    <!-- Grid start -->
    <h3 class="col-md-12 col-sm-12 col-xs-12" style="color: #00c8aa;">Student Mapping Details</h3>
    <div class="clearfix"></div>
    <div class="row">
      <div class="col-md-12">
        <div class="transaction-history-container">
          <div class="transaction-history-table box-shadow">
            <p-dataTable [value]="lstStudentMappingDetails" [loading]="false" [rows]="10" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[5,10,20]">
              <p-header [style]="{'width': '100%'}">
                <div class="divstyles">
                  <button type="button" class="btn btn-primary btnstyles" (click)="viewStudentMappingsForm()">Student Mapping</button>
                </div>
              </p-header>
              <p-column [style]="{'width':'110px'}" field="UserID" header="UserID" [hidden]="isController"></p-column>
              <p-column [style]="{'width':'110px'}" field="StudentName" header="Student Name" [sortable]="true"></p-column>
              <p-column [style]="{'width':'70px'}" field="Gender" header="Gender" [sortable]="true"></p-column>
              <p-column [style]="{'width':'600px'}" field="GroupID" header="Group" [sortable]="true"></p-column>
              <p-column [style]="{'width':'70px'}" field="CourseFee" header="Fees" [sortable]="true"></p-column>
              <p-column [style]="{'width':'100px'}" field="ApprovalStatus" header="Approval Status" [sortable]="true"></p-column>
              <p-column [style]="{'width':'100px'}" field="TransferStatus" header="Transfer Status" [sortable]="true"></p-column>
              <p-column [style]="{'width':'80px'}" field="UpdatedBy" header="Updated By" [sortable]="true"></p-column>
              <p-column [style]="{'width':'100px'}" field="UpdatedOn" header="Updated On" [sortable]="true"></p-column>
              <p-column [style]="{'width':'100px'}" header="Apply Loan">
                <!-- <ng-template let-data="rowData" pTemplate="body" let-ri="rowIndex">
                  <div class="col-md-12" style="margin-left: -30px;">
                    <div class="col-md-6" style="width:100px">
                      <button type="button" class="btn btn-primary btnedit" (click)="EditFeeMaster(data)" [ngClass]="colorCode(listOfEarnLoans.LoanStatus)"
                        [disabled]="checkLoanEligibility(listOfEarnLoans.LoanStatus)">Apply</button>
                    </div>
                  </div>
                </ng-template> -->
              </p-column>
            </p-dataTable>
          </div>
        </div>
      </div>
    </div>
    <!-- Grid End -->
  </div>
</div>
<admin-footer></admin-footer>