.btnstyles{
    margin: 15px 0 0 0;
    width: 98px;
}

.btndelete{
    width: 70px !important;
    background-color: red !important;
    border: red !important;
    padding: 0.25em 1em 0.25em 1em;
    border-radius: 15px;
}

.btnedit{
    width: 70px !important;
    text-align: center;
    padding: 0.25em 1em 0.25em 1em;
    border-radius: 15px;
    background: #2399e5 !important;
    border: 1px solid #2399e5 !important;
    color: #FFFFFF !important;
}

.btnyes{
    width: 90px; 
    margin-left: 10px;
}
.btnno{
    width: 90px;
    background: #e85454;
    border: #e85454; 
    margin-left: 20px;
}

.popuptop{
    margin-top: 40px;
}