<div class="legaldocs-container" @slideUp>
  <div class="legaldocs-form">
    <div class="col-sm-12 col-md-8 myDIV">
      <div class="row">
        <h2 class="margin-0 h2styles">Legal Documents</h2>
        <div class="clearfix"></div>
      </div>
      <div class="row">
        <div class="col-md-12 col-xs-12 legaldocs-list">
          <!-- <ul>
            <div class="col-md-12 col-xs-12">
              <div class="col-md-6 col-xs-12">
                <li class="li-styles" (click)="onShowCertificate()">
                  <div class="divheaderstyle">Show Registration Certificate</div>
                </li>
              </div>
              <div class="col-md-6 col-xs-12 div-m-top">
                <li class="li-styles" (click)="onShowPanCard()">
                  <div class="divheaderstyle">Show PAN Card</div>
                </li>
              </div>
            </div>

          </ul> -->

          <div class="row" @slideUp>
            <div>
              <!-- <div *ngIf="isShowCertificate"> -->
              <div style="text-align: center;font-weight: bold;color: white;">CERTIFICATE OF REGISTRATION OF SOCIETIES</div>
              <div class="clearfix"></div>
              <img class="imgstyle" src="../../../assets/legaldocs/dc-regi-certificate.jpg" style="width: 800px;">
            </div>
          <!-- </div>
          <div class="row"> -->
            <!-- <div *ngIf="isShowPanCard"> -->
            <div>
              <div style="text-align: center;font-weight: bold;color: white;">PAN CARD</div>
              <div class="clearfix"></div>
              <img class="imgstyle" src="../../../assets/legaldocs/dc-pan-card.jpg" style="width: 500px;">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>