.btnapprove{
    width: 90px;
    height: 20px;
    text-align: center;
}

.modelpopup{
    margin-left: 1%;
    margin-top: 1%;
}

.modelfooter{
    text-align: center;
}

.btnsubmit{
    width: 90px;
    margin-left: 10px;
}

.btncancel{
    width: 90px;
    background: #e85454;
    border: #e85454; 
    margin-left: 20px;
}

@media only screen and (max-width: 767px) and (min-width: 320px){
    .btnapprove{
        width: 75px !important;
        text-align: center;
    }

    .modelpopup{
        margin-left: 2% !important;
        margin-top: 20% !important;
    }

    .modelfooter{
        text-align: center;
    }

    .btnsubmit{
        width: 90px;
        margin-left: none !important;
    }

    .btncancel{
        width: 90px;
        background: #e85454;
        border: #e85454; 
        margin-left: 20px;
    }

    .colxs12{
        margin-left: 2% !important;
    }
}