.confirm-modal-overay{
    z-index: 99;
  }
  
  .changepassword-model{
    width: 500px !important;
  }

  .divstyles{
    margin-left: 15px;
    margin-top: 50px;
  }

.btnedit{
    width: 65px;
    padding: 0.25em 1em 0.25em 1em;
    border-radius: 15px;
    background: #2399e5 !important;
    border: 1px solid #2399e5 !important;
    color: #FFFFFF !important;
}

  @media only screen and (max-width: 767px) and (min-width: 320px){
    .divstyles {
      margin-left: 5px !important;
      margin-top: 85px !important;
    }
}