<div class="secretkey-container" @slideUp>
  <div class="secretkey-form">
    <form [formGroup]="multipleSecretkeyForm" (submit)="generateMultipleSecretKey(multipleSecretkeyForm.value,multipleSecretkeyForm.valid)">
      <h3 class="col-md-12 col-sm-12 col-xs-12" style="color: #00c8aa;font-weight: bold;">Generate My Secret Keys</h3>
      <div class="clearfix"></div>
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-6">
            <div class="label" style="color: #fff;">User Name</div>
            <div class="clearfix"></div>
            <input type="text" class="form-control" placeholder="User Name" pTooltip="User Name" tooltipPosition="top" formControlName="UserName"
              readonly required/>
            <div class="input-validation-msg">
            </div>
          </div>
          <div class="col-md-6">
            <div class="label" style="color: #fff;">Wallet Balance</div>
            <div class="clearfix"></div>
            <input type="text" class="form-control" formControlName="WalletBalance" readonly />
            <div class="input-validation-msg">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="label" style="color: #fff;">Number of Keys</div>
            <div class="clearfix"></div>
            <input type="text" class="form-control" placeholder="Number of Keys" pTooltip="Number of Keys" tooltipPosition="top" formControlName="NoOfKeys"
              (change)="onChangeNoOfKeys(multipleSecretkeyForm.value.NoOfKeys)" required/>
            <div class="input-validation-msg validationlabel">
              <validation *ngIf="isRequiredField(multipleSecretkeyForm.get('NoOfKeys'))" [errMsg]="'noOfKeysRqrd' | translate"></validation>
              <validation *ngIf="isValidField(multipleSecretkeyForm.get('NoOfKeys'))" [errMsg]="'validNoOfKeys' | translate"></validation>
            </div>
          </div>
          <div class="col-md-6">
            <div class="label" style="color: #fff;">Total Amount</div>
            <div class="clearfix"></div>
            <input #txtAmount id="txtAmount" type="text" class="form-control" readonly value="{{TotalAmount}}" />
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
      <div class="col-md-12 col-sm-12 col-xs-12 margin-top-15">
        <button type="submit" class="btn btn-primary" [disabled]="!multipleSecretkeyForm.valid" pTooltip="{{'secretkey' | translate}}"
          tooltipPosition="top">Generate Key</button>
      </div>
      <div class="clearfix"></div>
    </form>
    <div class="clearfix"></div>
  </div>
</div>
<admin-footer></admin-footer>