
.validationlabel{
    width: 225% !important;
}

.btnupdate{
    width: 100px !important;
}

.modelfooter{
    text-align: center;
}

@media only screen and (max-width: 767px) and (min-width: 320px){
    .validationlabel{
        width: 70% !important;
    }
}