<div id="register-particles-js"></div>

<div class="ui container login-container">
  <!-- Start Header -->
  <div class="login-header">
    <div class="col-md-3 xs-none"></div>
    <div class="col-md-6"></div>
    <div class="col-md-3 col-xs-5 xs-right">

    </div>
    <div class="clearfix"></div>
  </div>
  <!-- End Header -->

  <div class="register-block">
    <div class="register-main-block" @dialog>
      <!-- Start Login Form -->
      <div class="main-logo register-form-logo">
        <img src="assets/img/logo_white.jpeg" style="height: 100px;width: 100px;" />
      </div>

      <div class="ui form register-form">
        <!--Register Form Start-->
        <div class="login-section" *ngIf="activeForm == 2">
          <form [formGroup]="registerForm" (submit)="onRegister(registerForm.value,registerForm.valid)">
            <div class="field logo" style="text-align: center;">
              <h3>{{'registration' | translate}}</h3>
            </div>

            <div class="margin-top-10 col-xs-12 col-md-6">
              <input type="text" placeholder="{{'firstName' | translate}}" pTooltip="{{'firstName' | translate}}" tooltipPosition="top"
                class="form-control" formControlName="FirstName" required/>
              <div class="input-validation-msg">
                <validation *ngIf="isRequiredField(registerForm.get('FirstName'))" [errMsg]="'frstNameRqrd' | translate"></validation>
                <validation *ngIf="isValidLength(registerForm.get('FirstName'))" [errMsg]="'frstNameLnth' | translate"></validation>
              </div>
            </div>

            <div class="margin-top-10 col-xs-12 col-md-6">
              <input type="text" placeholder="{{'lastName' | translate}}" pTooltip="{{'lastName' | translate}}" tooltipPosition="top" class="form-control"
                formControlName="LastName" required/>
              <div class="input-validation-msg">
                <validation *ngIf="isRequiredField(registerForm.get('LastName'))" [errMsg]="'lastNameRqrd' | translate"></validation>
                <validation *ngIf="isValidLength(registerForm.get('LastName'))" [errMsg]="'lastNameLnth' | translate"></validation>
              </div>
            </div>
            <div class="clearfix"></div>

            <div class="margin-top-10 col-xs-12 col-md-6">
              <input type="text" placeholder="{{'userName' | translate}}" pTooltip="{{'userName' | translate}}" tooltipPosition="top" class="form-control"
                formControlName="UserName" required/>
              <div class="input-validation-msg" style="width: 1000px !important;">
                <validation *ngIf="isRequiredField(registerForm.get('UserName'))" [errMsg]="'userNameRqrd' | translate"></validation>
                <!-- <validation *ngIf="isValidField(registerForm.get('UserName'))" [errMsg]="'validUserName' | translate"></validation> -->
                <validation *ngIf="isValidLength(registerForm.get('UserName'))" [errMsg]="'userNameLnth' | translate"></validation>
              </div>
            </div>

            <div class="margin-top-10 col-xs-12 col-md-6">
              <input type="text" placeholder="{{'fatherName' | translate}}" pTooltip="{{'fatherName' | translate}}" tooltipPosition="top"
                class="form-control" formControlName="FatherName" required/>
              <div class="input-validation-msg">
                <validation *ngIf="isRequiredField(registerForm.get('FatherName'))" [errMsg]="'fatherNameRqrd' | translate"></validation>
                <validation *ngIf="isValidLength(registerForm.get('FatherName'))" [errMsg]="'fatherNameLnth' | translate"></validation>
              </div>
            </div>
            <div class="clearfix"></div>

            <div class="margin-top-10 col-xs-12 col-md-12">
              <input type="text" placeholder="{{'email' | translate}}" (focus)="trackEvent()" pTooltip="{{'email' | translate}}" tooltipPosition="top"
                class="form-control" formControlName="Email"/>
              <div class="input-validation-msg">
                <!-- <validation *ngIf="isRequiredField(registerForm.get('Email'))" [errMsg]="'emailRqrd' | translate"></validation> -->
                <validation *ngIf="isValidField(registerForm.get('Email'))" [errMsg]="'validEmail' | translate"></validation>
              </div>
            </div>
            <div class="clearfix"></div>

            <div class="margin-top-10 col-xs-12 col-md-6">
              <input type="password" placeholder="{{'password' | translate}}" pTooltip="{{'password' | translate}}" tooltipPosition="top"
                class="form-control" formControlName="Password" required/>
              <div class="input-validation-msg">
                <validation *ngIf="isRequiredField(registerForm.get('Password'))" [errMsg]="'pwdRqrd' | translate"></validation>
                <validation *ngIf="isValidField(registerForm.get('Password'))" [errMsg]="'validPwd' | translate"></validation>
                <validation *ngIf="isValidLength(registerForm.get('Password'))" [errMsg]="'pwdLenth' | translate"></validation>
              </div>
            </div>

            <div class="margin-top-10 col-xs-12 col-md-6">
              <input type="password" placeholder="{{'confirmPassword' | translate}}" pTooltip="{{'confirmPassword' | translate}}" tooltipPosition="top"
                class="form-control" formControlName="ConfirmPassword" required/>
              <div class="input-validation-msg">
                <validation *ngIf="isRequiredField(registerForm.get('ConfirmPassword'))" [errMsg]="'cnfrmPwdRqrd' | translate"></validation>
                <validation *ngIf="hasError('repeatPassword',registerForm,registerForm.get('ConfirmPassword'))" [errMsg]="'cnfrmPwdNtMatched' | translate"></validation>
              </div>
            </div>
            <div class="clearfix"></div>

            <div class="margin-top-10 col-xs-12 col-md-6">
              <input type="text" placeholder="{{'aadharNumber' | translate}}" pTooltip="{{'aadharNumber' | translate}}" tooltipPosition="top"
                class="form-control" formControlName="AadharNumber"/>
              <div class="input-validation-msg">
                <!-- <validation *ngIf="isRequiredField(registerForm.get('AadharNumber'))" [errMsg]="'aadharNumberRqrd' | translate"></validation> -->
                <validation *ngIf="isValidField(registerForm.get('AadharNumber'))" [errMsg]="'validAadharNumber' | translate"></validation>
                <validation *ngIf="isValidLength(registerForm.get('AadharNumber'))" [errMsg]="'aadharNumberLenth' | translate"></validation>
              </div>
            </div>
            <div class="margin-top-10 col-xs-12 col-md-6">
              <input type="text" placeholder="{{'mobileNumber' | translate}}" pTooltip="{{'mobileNumber' | translate}}" tooltipPosition="top"
                class="form-control" formControlName="PhoneNumber" required/>
              <div class="input-validation-msg">
                <validation *ngIf="isRequiredField(registerForm.get('PhoneNumber'))" [errMsg]="'phoneNumberRqrd' | translate"></validation>
              </div>
            </div>

            <div class="clearfix"></div>

            <div class="margin-top-10 col-xs-12 col-md-6">
              <input type="text" placeholder="{{'sponserID' | translate}}" pTooltip="{{'sponserID' | translate}}" tooltipPosition="top"
                class="form-control" formControlName="SponserID" (change)="onChangeSponserId(registerForm.value.SponserID)"
                required/>
              <div class="input-validation-msg">
                <validation *ngIf="isRequiredField(registerForm.get('SponserID'))" [errMsg]="'sponserIDRqrd' | translate"></validation>
              </div>
            </div>
            <div class="margin-top-10 col-xs-12 col-md-6">
              <input type="text" placeholder="{{'sponserName' | translate}}" pTooltip="{{'sponserName' | translate}}" tooltipPosition="top"
                class="form-control" formControlName="SponserName" readonly="readonly" required/>
              <div class="input-validation-msg">
                <validation *ngIf="isRequiredField(registerForm.get('SponserName'))" [errMsg]="'sponserNameRqrd' | translate"></validation>
              </div>
            </div>

            <div class="clearfix"></div>

            <div class="margin-top-10 col-xs-12 col-md-6">
              <select class="form-control" pTooltip="{{'underID' | translate}}" tooltipPosition="top" formControlName="UnderID" required
                (change)="onUnderIDChange($event.target.value)">
                <option *ngFor="let under of underDetails" value={{under.UnderID}}>
                  {{under.UserName}}
                </option>
              </select>
            </div>
            <div class="margin-top-10 col-xs-12 col-md-6">
              <input type="text" placeholder="{{'underName' | translate}}" pTooltip="{{'underName' | translate}}" tooltipPosition="top"
                class="form-control" formControlName="UnderName" readonly="readonly" required/>
              <div class="input-validation-msg">
                <validation *ngIf="isRequiredField(registerForm.get('UnderName'))" [errMsg]="'underNameRqrd' | translate"></validation>
              </div>
            </div>

            <div class="clearfix"></div>

            <div class="margin-top-10 col-xs-12 col-md-6">
              <input type="text" placeholder="{{'secretCode' | translate}}" pTooltip="{{'secretCode' | translate}}" tooltipPosition="top"
                class="form-control" formControlName="SecretCode" readonly="readonly" required/>
              <div class="input-validation-msg">
                <validation *ngIf="isRequiredField(registerForm.get('SecretCode'))" [errMsg]="'secretCodeRqrd' | translate"></validation>
              </div>
            </div>
            <div class="margin-top-10 col-xs-12 col-md-6">
              <select class="form-control" formControlName="SourceID">
                <option *ngFor="let source of sourceOfUser" value={{source.SourceID}}>
                  {{source.SourceName}}
                </option>
              </select>
            </div>
            <div class="clearfix"></div>

            <div class="margin-top-10 col-md-12">
              <button type="submit" class="btn-primary btn btn-block" [disabled]="!registerForm.valid" pTooltip="{{'createAccount' | translate}}"
                tooltipPosition="top">{{'createAccount' | translate}}</button>

              <div class="text-center whiteClr margin-top-10">
                <span>{{'alreadyAccount' | translate}}
                  <a (click)="viewLoginForm()" pTooltip="{{'login' | translate}}" tooltipPosition="top">{{'login' | translate}}</a>
                </span>
              </div>
            </div>

            <div class="clearfix"></div>

            <div class="lightClr col-md-12 padding-left-0 margin-top-5">
              <small pTooltip="{{sendInfoNote}}" tooltipPosition="top">{{sendInfoNote}}</small>
            </div>

            <div class="clearfix"></div>
          </form>
        </div>
        <!-- End Register Form -->

        <!--Secret Key Form Start-->
        <div class="login-section" *ngIf="activeForm == 1">
          <form [formGroup]="secretKeyForm" (submit)="onVerifySecretKey(secretKeyForm.value,secretKeyForm.valid)">
            <div class="field logo" style="text-align: center;">
              <h3>{{'verifySecretKey' | translate}}</h3>
            </div>

            <div class="margin-top-10 col-xs-12 col-md-6">
              <input type="text" placeholder="{{'secretCode' | translate}}" pTooltip="{{'secretCode' | translate}}" tooltipPosition="top"
                class="form-control" formControlName="RegKey" required/>
              <div class="input-validation-msg">
                <validation *ngIf="isRequiredField(secretKeyForm.get('RegKey'))" [errMsg]="'secretCodeRqrd' | translate"></validation>
                <validation *ngIf="isValidLength(secretKeyForm.get('RegKey'))" [errMsg]="'secretKeyLength' | translate"></validation>
              </div>
            </div>

            <div class="margin-top-10 col-xs-12 col-md-6">
              <input type="text" placeholder="{{'mobileNumber' | translate}}" pTooltip="{{'mobileNumber' | translate}}" tooltipPosition="top"
                class="form-control" formControlName="PhoneNumber" required/>
              <div class="input-validation-msg">
                <validation *ngIf="isRequiredField(secretKeyForm.get('PhoneNumber'))" [errMsg]="'phoneNumberRqrd' | translate"></validation>
              </div>
            </div>
            <div class="clearfix"></div>

            <div class="input-validation-msg customMsg">
              <div class="label" *ngIf="isValidKey">
                <p style="color:red;font-size: 15px;text-align: center;">{{verifykeyError}}</p>
              </div>
            </div>
            <div class="clearfix"></div>

            <div class="two fields margin-top-10">
              <div class="field">
                <button type="submit" class="btn-primary btn btn-block" pTooltip="{{'verifySecretKey' | translate}}" tooltipPosition="top"
                  [disabled]="!secretKeyForm.valid">{{'verifySecretKey' | translate}}</button>
              </div>
              <div class="text-center whiteClr margin-top-10">
                <span>{{'alreadyAccount' | translate}}
                  <a (click)="viewLoginForm()" pTooltip="{{'login' | translate}}" tooltipPosition="top">{{'login' | translate}}</a>
                </span>
              </div>
            </div>

          </form>
        </div>
        <!-- End Secret Key Form -->

      </div>
    </div>
    <!-- Start Footer -->
    <app-footer></app-footer>
    <!-- End Footer -->
  </div>
</div>