.btnpay{
    width: 70px !important;
    text-align: center;
    padding: 0.25em 1em 0.25em 1em;
    border-radius: 15px;
    background-color: #00c8aa !important;
    border: 0px solid #00c8aa !important;
    color: #FFFFFF !important;
}

.margin-top-40{
    margin-top: 40px !important;
    text-align: end;
}

.i-styles{
    background-color: #00c8aa;
    border: 2px solid #00c8aa;
    width: 50px;
    text-align: center;
    color: white;
}

.h3top{
    margin-top: -15px !important;
    color: #dadae2 !important;
    font-size: x-large !important;
    font-weight: bold !important;
}

@media only screen and (max-width: 767px) and (min-width: 320px){
    .h3top{
        margin-top: -35px !important;
    }
}