.btnpay{
    background-color: #00c8aa !important;
    border: 0px solid #00c8aa !important;
}

.btnwidth{
    width: 70px !important;
}

.margin-top-40{
    margin-top: 40px !important;
    text-align: end;
}

.i-styles{
    background-color: #00c8aa;
    border: 2px solid #00c8aa;
    width: 50px;
    text-align: center;
    color: white;
}