.btndownload{
    background-color: #428bca00 !important;
    border: 0px solid #428bca00 !important;
}
.btndownload:hover{
    background-color: #428bca00 !important;
    border: 0px solid #428bca00 !important;
}
.btnyes{
    width: 90px; 
    margin-left: 10px;
}
.btnno{
    width: 90px;
    background: #e85454;
    border: #e85454; 
    margin-left: 20px;
}
.btncancel{
    width: 90px;
    background-color: #353c48 !important;
    border-color: #353c48 !important;
}
.margin-top-40{
    margin-top: 40px !important;
    text-align: end;
}

.i-styles{
    background-color: #00c8aa;
    border: 2px solid #00c8aa;
    width: 50px;
    text-align: center;
    color: white;
}

.btnview{
    width: 70px !important;
    text-align: center;
    padding: 0.25em 1em 0.25em 1em;
    border-radius: 15px;
    background: #2399e5 !important;
    border: 1px solid #2399e5 !important;
    color: #FFFFFF !important;
}

/* ::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-track {
    background: #4c5463;
} */