.myDIV {
    border: 1px solid #353739;
    width: 80% !important;
    height: 100% !important;
    margin-left: 140px;
}

.divheader{
    text-align: left;
    margin-left: -13px;
}

.headercolor{
    color: #00cdad !important;
}

.pstyle{
    text-align: -webkit-auto !important;
    color: white !important;
    margin-left: 5px;
}

@media only screen and (max-width: 767px) and (min-width: 320px){
    .myDIV {
        border: 1px solid white;
        width: 95% !important;
        height: 100% !important;
        margin-left: 10px;
    }

    .pstyle{
        text-align: -webkit-auto !important;
        color: white !important;
        margin-left: 5px !important;
        font-size: large !important;
    }
}
