<div class="home-container" @slideUp>
  <div class="home-form">
    <div class="col-sm-12 col-md-8 myDIV">
      <div class="row">
        <h2 class="margin-0">HOME</h2>
        <div class="clearfix"></div>
      </div>

      <div class="row">
        <div class="col-sm-12 col-md-12 divheader">
          <h2 class="headercolor">ABOUT US</h2>
          <div class="clearfix"></div>
        </div>
        <div>
          <p class="pstyle">
            Society for children and women action for rural development is a charitable, non-profit, Non-Governmental and research
            organization registered under the Andhra Pradesh Societies act XXI off 1860 bearing number 930/97 register in
            the year 1997 and founded by SHIK ALEXANDER. Organizing secretary and developed by MOHAMMAD KHADHER President
            of society has been period our 20 years in the file of society service and projects implementation.
          </p>
        </div>
      </div>
      <br/>
      <div class="row">
        <div class="col-sm-12 col-md-12 divheader">
          <h2 class="headercolor">MISSIOIN</h2>
          <div class="clearfix"></div>
        </div>
        <div>
          <p class="pstyle">
            Providing Quality of education health awareness, financial care socioe conomic infrastructure and Digital India research and
            development for women and child empowerment in the sprite of society inspect of caste, creed or religion for eradication
            of poverty in India for national integrity.
          </p>
        </div>
      </div>
      <br/>
      <div class="row">
        <div class="col-sm-12 col-md-12 divheader">
          <h2 class="headercolor">VISSION</h2>
          <div class="clearfix"></div>
        </div>
        <div>
          <p class="pstyle">
            We aimed with education, economic, cultural, social, rural development awareness, rehabilitation research & development for innovative
            technology, we identity and work with the women’s groups. Self-help groups (SHG) Village education committees
            (VEC), School management Committees(SMC),NGOs(non government organizations)other people groups at the village
            level for project formation, designs field support and monitoring evaluation of programmers. A vibrant “DIAMANDCARE“ PROJECT
            to research and sustainable development for Indian knowledge hub.
          </p>
          <br/>
          <p class="pstyle">
            Various national and international organizations by planning appropriate help to the poorest of poor and needy women and
            child at risk and marginalized communities irrespective of
            <b>Caste</b>
            need or
            <b>Religion</b> and create opportunities to develop their livelihood.
          </p>
          <ul style="text-align: left;color: white;">
            <li>Empower women and child</li>
            <li>Equality and gender consideration with strong organization capacity and institutional building</li>
            <li>Develop youth and adolescents</li>
            <li>E medicate child labor</li>
            <li>Create awareness education health social issues</li>
            <li>Provide livelihood,income generation</li>
            <li>Import skill development trainings</li>
            <li>Work for agriculture and rural development</li>
            <li>Propagate Science and technolog</li>
          </ul>
        </div>
      </div>
      <br/>
      <div class="row">
        <div class="col-sm-12 col-md-12 divheader">
          <h2 class="headercolor">GOAL</h2>
          <div class="clearfix"></div>
        </div>
        <div>
          <p class="pstyle">
            Sustainable India, women and child empowerment, Make in INDIA, DigitalIndia, E-wallet technology Awareness for eradication
            of child labor poverty for equality and DIAMAND CARE. Digital India awareness monitoring analysis for National
            development project for education, health and economic and innovative housing irrespective of caste, creed or
            religion in the spirit of Society.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>