.dropdownstyle{
    width: 255px;
    margin-top: 5px;
}

.btntransfer{
    margin-top: 5% !important;
    margin-left: 250% !important;
}

.btnwithdraw{
    margin-top: 5% !important;
    margin-left: 250% !important;
}

.btnapprove{
    padding: 0.25em 1em 0.25em 1em;
    border-radius: 15px;
}

.modelpopup{
    margin-left: 1%;
    margin-top: 1%;
}

@media only screen and (max-width: 767px) and (min-width: 320px){
    .btntransfer{
        margin-top: 35% !important;
        margin-left: 15% !important;
    }

    .btnwithdraw{
        margin-top: 325% !important;
        margin-left: 250% !important;
    }

    .btnapprove{
        text-align: center;
    }

    .modelpopup{
        margin-left: 2% !important;
        margin-top: 20% !important;
    }
}