.dropdownstyle{
    width: 255px;
    margin-top: 5px;
}

.btntransfer{
    width: 11% !important;
    height: 20px;
    background-color: #00c8aa;
    border:#00c8aa;
    margin-top: 2% !important;
    margin-left: 35% !important;
}

.btnapprove{
    width: 65px;
    height: 20px;
    text-align: center;
}

.modelpopup{
    margin-left: 1%;
    margin-top: 1%;
}

@media only screen and (max-width: 767px) and (min-width: 320px){
    .btntransfer{
        width: 30% !important;
        height: 20px;
        background-color: #00c8aa;
        border:#00c8aa;
        margin-top: 5% !important;
        margin-left: 15% !important;
    }

    .btnapprove{
        width: 65px !important;
        text-align: center;
    }

    .modelpopup{
        margin-left: 2% !important;
        margin-top: 20% !important;
    }
}