<div class="transaction-history-container" @slideUp>
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <h3 class="col-md-6 col-sm-6 col-xs-6" style="color: #00c8aa;margin-top: 15px;">All Fund Requests</h3>
      <button type="button" class="btn btn-primary" (click)="OpenWithdrawFundsPopup()">Withdraw Funds</button>
      <button type="button" class="btn btn-primary btntransfer" (click)="OpenFundsTransferPopup()">Transfer Funds</button>
    </div>
  </div>
  <div class="clearfix"></div>
  <div class="row">
    <div class="col-md-12">
      <div class="transaction-history-container">
        <div class="transaction-history-table box-shadow">
          <p-dataTable [value]="FundsRequestList" [loading]="false" [rows]="10" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[5,10,20]">
            <p-column [style]="{'width':'120px'}" field="RequestedBy" header="Requested By" [sortable]="true"></p-column>
            <p-column [style]="{'width':'130px'}" field="RequestedAmount" header="Requested Amount" [sortable]="true"></p-column>
            <p-column [style]="{'width':'120px'}" field="ApprovedAmount" header="Approved Amount" [sortable]="true"></p-column>
            <p-column [style]="{'width':'120px'}" field="CreatedOn" header="Requested On" [sortable]="true">
              <ng-template let-FundsRequestList="rowData" pTemplate="body" let-ri="rowIndex">
                <div class="col-md-12" style="margin-left: -15px;">
                  {{getFormattedDate(FundsRequestList.CreatedOn)}}
                </div>
              </ng-template>
            </p-column>
            <p-column [style]="{'width':'150px'}" field="Description" header="Request Status" [sortable]="true"></p-column>
            <p-column [style]="{'width':'80px'}" header="Approve Funds">
              <ng-template let-data="rowData" pTemplate="body" let-ri="rowIndex">
                <div class="col-md-12" style="margin-left: -30px;">
                  <div class="col-md-6" style="width:100px">
                    <button type="button" class="btn btn-primary btnapprove" (click)="EditFundRequest(ri)">Approve </button>
                  </div>
                </div>
              </ng-template>
            </p-column>
          </p-dataTable>
        </div>
      </div>
    </div>
  </div>

  <div class="phone-number-modal modelpopup" *ngIf="isShowModal == 2" @dialog>
    <form [formGroup]="fdFundRequest" (submit)="ApproveRequestFunds(fdFundRequest.value,fdFundRequest.valid)">
      <div class="modal-container" style="height: 200px !important;">
        <div class="modal-header" style="background: #797b85;">
          <h5>Approve Funds Request</h5>
          <i class="material-icons" (click)="closeForm()">close</i>
        </div>
        <div class="clearfix"></div>
        <div class="modal-body" style="height: 50px;">
          <div class="col-md-12">
            <div class="clearfix"></div>
            <div class="margin-top-15 col-md-12">
              <div>
                <div class="label" style="color: #fff;">Requested Amount</div>
                <div class="clearfix"></div>
                <input type="text" class="form-control" formControlName="RequestedAmount" readonly />
                <div class="input-validation-msg">
                  <validation *ngIf="isRequiredField(fdFundRequest.get('RequestedAmount'))" [errMsg]="'Please Enter Requested Amount' | translate"></validation>
                </div>
              </div>
            </div>
            <div class="clearfix"></div>
            <div class="margin-top-15 col-md-12">
              <div>
                <div class="label" style="color: #fff;">Approved Amount</div>
                <div class="clearfix"></div>
                <input type="text" class="form-control" formControlName="ApprovedAmount" (change)="onChangeApprovedAmount($event.target.value)"
                />
                <div class="input-validation-msg">
                  <validation *ngIf="isRequiredField(fdFundRequest.get('ApprovedAmount'))" [errMsg]="'Please enter approved amount' | translate"></validation>
                  <validation *ngIf="isValidField(fdFundRequest.get('ApprovedAmount'))" [errMsg]="'Please enter valid approved amount' | translate"></validation>
                  <validation *ngIf="isMinValueField(fdFundRequest.get('ApprovedAmount'))" [errMsg]="'Approved amount should not be zero' | translate"></validation>
                  <validation *ngIf="isMaxValueField(fdFundRequest.get('ApprovedAmount'))" [errMsg]="'Approved amount should not be exceeds the requested amount' | translate"></validation>
                </div>
              </div>
            </div>
            <div class="clearfix"></div>
            <div class="margin-top-15 col-md-12 col-sm-12 col-xs-12">
              <div>
                <div class="label" style="color: #fff;">Requested Status</div>
                <div class="clearfix"></div>
                <select class="form-control" formControlName="RequestStatusID" required>
                  <option *ngFor="let fndRqstStatus of lstFndRqstStatus" value="{{fndRqstStatus.RequestStatusID}}">{{fndRqstStatus.Status}}</option>
                </select>
              </div>
            </div>
            <div class="clearfix"></div>
            <div class="modal-footer">
              <div class="col-md-12 col-sm-12 col-xs-12 col-md-offset-3">
                <button type="submit" [disabled]="!fdFundRequest.valid" style="width: 90px; margin-left: 10px;" class="btn btn-primary">Submit</button>
                <button type="button" style="width: 90px;background: #e85454;border: #e85454; margin-left: 20px;" (click)="closeForm()" class="btn btn-primary">Cancel</button>
              </div>
              <div class="clearfix"></div>
            </div>

            <div class="margin-top-10"></div>
            <div class="clearfix"></div>

          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="clearfix"></div>

  <div class="phone-number-modal modelpopup" *ngIf="isShowModal == 3" @dialog>
    <form [formGroup]="frmTransferFunds" (submit)="SubmitFundsTransfer(frmTransferFunds.value,frmTransferFunds.valid)">
      <div class="modal-container" style="height: 200px !important;">
        <div class="modal-header" style="background: #797b85;">
          <h5>Transfer Funds</h5>
          <i class="material-icons" (click)="closeForm()">close</i>
        </div>
        <div class="clearfix"></div>
        <div class="modal-body" style="height: 50px;">
          <div class="col-md-12">
            <div class="clearfix"></div>
            <div class="margin-top-15 col-md-12">
              <div>
                <div class="label" style="color: #fff;">Transfer From</div>
                <div class="clearfix"></div>
                <input type="text" class="form-control" formControlName="TransferFrom" readonly />
                <div class="input-validation-msg">

                </div>
              </div>
            </div>
            <div class="clearfix"></div>
            <div class="margin-top-15 col-md-12">
              <div>
                <div class="label" style="color: #fff;">Transfer To</div>
                <div class="clearfix"></div>
                <input type="text" class="form-control" formControlName="TransferTo" (change)="onChangeUsernameByDCIDorName(frmTransferFunds.value.TransferTo)"
                  required />
                <div class="input-validation-msg">
                  <validation *ngIf="isRequiredField(frmTransferFunds.get('TransferTo'))" [errMsg]="'Please enter transfer username or DCID' | translate"></validation>
                </div>
              </div>
            </div>
            <div class="clearfix"></div>
            <div class="margin-top-15 col-md-12">
              <div>
                <div class="label" style="color: #fff;">Transfer To Name</div>
                <div class="clearfix"></div>
                <input type="text" class="form-control" formControlName="TransferToName" readonly />
                <div class="input-validation-msg">

                </div>
              </div>
            </div>
            <div class="clearfix"></div>
            <div class="margin-top-15 col-md-12">
              <div>
                <div class="label" style="color: #fff;">Transfer Amount</div>
                <div class="clearfix"></div>
                <input type="text" class="form-control" formControlName="ApprovedAmount" (change)="onChangeTransferAmount($event.target.value)"
                  required />
                <div class="input-validation-msg">
                  <validation *ngIf="isRequiredField(frmTransferFunds.get('ApprovedAmount'))" [errMsg]="'Please enter transfer amount' | translate"></validation>
                  <validation *ngIf="isValidField(frmTransferFunds.get('ApprovedAmount'))" [errMsg]="'Please enter valid transfer amount' | translate"></validation>
                  <validation *ngIf="isMinValueField(frmTransferFunds.get('ApprovedAmount'))" [errMsg]="'Tansfer amount should not be zero' | translate"></validation>
                  <validation *ngIf="isMaxValueField(frmTransferFunds.get('ApprovedAmount'))" [errMsg]="'Insufficient balance in your account' | translate"></validation>
                </div>
              </div>
            </div>
            <div class="clearfix"></div>
            <div class="modal-footer">
              <div class="col-md-12 col-sm-12 col-xs-12 col-md-offset-3">
                <button type="submit" [disabled]="!frmTransferFunds.valid" style="width: 90px; margin-left: 10px;" class="btn btn-primary">Submit</button>
                <button type="button" style="width: 90px;background: #e85454;border: #e85454; margin-left: 20px;" (click)="closeForm()" class="btn btn-primary">Cancel</button>
              </div>
              <div class="clearfix"></div>
            </div>

            <div class="margin-top-10"></div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <!-- Withdraw Form start -->
  <div class="phone-number-modal modelpopup" *ngIf="isShowModal == 4" @dialog>
    <form [formGroup]="frmWithdrawFunds" (submit)="SubmitWithdrawFunds(frmWithdrawFunds.value,frmWithdrawFunds.valid)">
      <div class="modal-container" style="height: 200px !important;">
        <div class="modal-header" style="background: #797b85;">
          <h5>Withdraw Funds</h5>
          <i class="material-icons" (click)="closeForm()">close</i>
        </div>
        <div class="clearfix"></div>
        <div class="modal-body" style="height: 50px;">
          <div class="col-md-12">
            <div class="clearfix"></div>
            <div class="margin-top-15 col-md-12">
              <div>
                <div class="label" style="color: #fff;">Available Balance</div>
                <div class="clearfix"></div>
                <input type="text" class="form-control" formControlName="AvlBalance" readonly />
                <div class="input-validation-msg">

                </div>
              </div>
            </div>
            <div class="clearfix"></div>
            <div class="margin-top-15 col-md-12">
              <div>
                <div class="label" style="color: #fff;">Withdraw Amount</div>
                <div class="clearfix"></div>
                <input type="text" class="form-control" formControlName="WithdrawAmount" (change)="onChangeWithdrawAmount($event.target.value)"
                  required />
                <div class="input-validation-msg">
                  <validation *ngIf="isRequiredField(frmWithdrawFunds.get('WithdrawAmount'))" [errMsg]="'Please enter transfer amount' | translate"></validation>
                  <validation *ngIf="isValidField(frmWithdrawFunds.get('WithdrawAmount'))" [errMsg]="'Please enter valid transfer amount' | translate"></validation>
                  <validation *ngIf="isMinValueField(frmWithdrawFunds.get('WithdrawAmount'))" [errMsg]="'Tansfer amount should not be zero' | translate"></validation>
                  <validation *ngIf="isMaxValueField(frmWithdrawFunds.get('WithdrawAmount'))" [errMsg]="'Insufficient balance in your account' | translate"></validation>
                </div>
              </div>
            </div>
            <div class="clearfix"></div>
            <div class="margin-top-15 col-md-12">
              <div>
                <div class="label" style="color: #fff;">Purpose</div>
                <div class="clearfix"></div>
                <input type="text" class="form-control" formControlName="Purpose" />
              </div>
            </div>
            <div class="clearfix"></div>
            <div class="modal-footer">
              <div class="col-md-12 col-sm-12 col-xs-12 col-md-offset-3">
                <button type="submit" [disabled]="!frmWithdrawFunds.valid" style="width: 90px; margin-left: 10px;" class="btn btn-primary">Submit</button>
                <button type="button" style="width: 90px;background: #e85454;border: #e85454; margin-left: 20px;" (click)="closeForm()" class="btn btn-primary">Cancel</button>
              </div>
              <div class="clearfix"></div>
            </div>

            <div class="margin-top-10"></div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
    </form>
  </div>


  <div class="clearfix"></div>
  <div class="confirm-modal-overay" *ngIf="isShowModal == 2 || isShowModal == 3" (click)="closeForm()"></div>
  <div class="clearfix"></div>
  <div class="transaction-history-table box-shadow"></div>
  <h3 class="col-md-12 col-sm-12 col-xs-12" style="color: #00c8aa;">{{'withdrawals' | translate}}</h3>
  <div class="row">
    <div class="col-md-12">
      <div style="overflow: auto;">
        <p-dataTable [value]="WalletWithdrawals" [loading]="false" [rows]="10" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[5,10,20]">
          <p-column field="UserName" header="UserName" [sortable]="true"></p-column>
          <p-column field="WithdrawAmount" header="Withdraw Amount" [sortable]="true"></p-column>
          <p-column field="TransferBy" header="Transfer By" [sortable]="true"></p-column>
          <p-column field="TransferOn" header="Transfer Date" [sortable]="true"></p-column>
          <p-column field="TransferStatusID" header="Transfer Status ID" [sortable]="true"></p-column>
            <p-column field="Purpose" header="Purpose" [sortable]="true"></p-column>
        </p-dataTable>
      </div>
    </div>
  </div>
  <!-- Withdraw Form end -->

  <div class="clearfix"></div>
  <div class="confirm-modal-overay" *ngIf="isShowModal == 2 || isShowModal == 3" (click)="closeForm()"></div>
  <div class="clearfix"></div>
  <div class="transaction-history-table box-shadow"></div>
  <h3 class="col-md-12 col-sm-12 col-xs-12" style="color: #00c8aa;">{{'walletTrnsctns' | translate}}</h3>
  <div class="row">
    <div class="col-md-12">
      <div style="overflow: auto;">
        <p-dataTable [value]="WalletExpensesList" [loading]="false" [rows]="10" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[5,10,20]">
          <p-column field="AgainstType" header="Against Type" [sortable]="true"></p-column>
          <p-column field="Against" header="Against" [sortable]="true"></p-column>
          <p-column field="TransactionType" header="Transaction Type" [sortable]="true"></p-column>
          <p-column field="TransactionAmount" header="Transaction Amount" [sortable]="true"></p-column>
          <p-column field="Purpose" header="Purpose" [sortable]="true"></p-column>
          <p-column field="UpdatedOn" header="Generated On" [sortable]="true">
            <ng-template let-WalletExpensesList="rowData" pTemplate="body" let-ri="rowIndex">
              <div class="col-md-12" style="margin-left: -15px;">
                {{getFormattedDate(WalletExpensesList.UpdatedOn)}}
              </div>
            </ng-template>
          </p-column>
        </p-dataTable>
      </div>
    </div>
  </div>
</div>
<admin-footer></admin-footer>