.btnupdate{
    width: 100px !important;
}

.modelfooter{
    text-align: center;
}
.btntransfer{
    background-color: #00c8aa !important;
    border: 0px solid #00c8aa !important;
}
.margin-top-40{
    margin-top: 40px !important;
    text-align: end;
}

.i-styles{
    background-color: #00c8aa;
    border: 2px solid #00c8aa;
    width: 50px;
    text-align: center;
    color: white;
}

.h3top{
    margin-top: 0px !important;
    color: #dadae2 !important;
    font-size: x-large !important;
    font-weight: bold !important;
}

.btntransferstatus{
    padding: 0.25em 1em 0.25em 1em;
    border-radius: 15px;
}

@media only screen and (max-width: 767px) and (min-width: 320px){
    .h3top{
        margin-top: -15px !important;
    }
}