<div class="secretkey-container" @slideUp>
  <div class="secretkey-form">
    <div class="col-md-4 col-xs-12 col-sm-12 margin-top-15">
      <div class="label" style="color: white;">Search by Username or DCID</div>
      <input type="text" #txtSearcByLoanId id="txtSearcByLoanId" class="form-control" placeholder="Search by Username or DCID"
        (input)="onSearchChange($event.target.value)" />
    </div>
    <div class="col-md-8 col-xs-12 col-sm-12 margin-top-40">
      <a>
        <i class="material-icons i-styles" pTooltip="{{'refresh' | translate}}" tooltipPosition="top" (click)="Refresh()">refresh</i>
      </a>
    </div>
    <div class="clearfix"></div>
    <div>
      <h3 class="col-md-12 col-sm-12 col-xs-12 h3top">Transfer Pending Loans</h3>
      <div class="clearfix"></div>

      <br/>
      <!-- Show list of Loans start here -->
      <div>
        <div style="overflow: auto;">
          <p-dataTable id="approvedloand" [value]="listOfTransferPendingLoans" [loading]="false" [rows]="10" [paginator]="true" [pageLinks]="3"
            [rowsPerPageOptions]="[5,10,20]" selectionMode="single" [(selection)]="selectedRow">
            <p-column [style]="{'width':'150px'}" header="Transfer">
              <ng-template let-listOfTransferPendingLoans="rowData" pTemplate="body" let-ri="rowIndex">
                <button type="button" class="ui-button-reset-transparent" [ngClass]="colorCodeRenew()" pButton (click)="onShowTransferModal(ri)"
                  label="Select row">Transfer Status</button>
              </ng-template>
            </p-column>
            <p-column [style]="{'width':'100px'}" field="LoanID" header="LoanID" [sortable]="true"></p-column>
            <p-column [style]="{'width':'130px'}" field="UserName" header="User Name" [sortable]="true"></p-column>
            <p-column [style]="{'width':'130px'}" field="LoanTypeDescription" header="Loan Type" [sortable]="true"> </p-column>
            <p-column [style]="{'width':'130px'}" field="LoanAmount" header="Loan Amount" [sortable]="true"></p-column>
            <p-column [style]="{'width':'130px'}" field="IssuedAmount" header="Issued Amount" [sortable]="true"></p-column>
            <p-column [style]="{'width':'125px'}" field="AmountToPay" header="Amount To Pay" [sortable]="true"></p-column>
            <p-column [style]="{'width':'125px'}" field="AmountPaid" header="Amount Paid" [sortable]="true"></p-column>
            <p-column [style]="{'width':'130px'}" field="AdminCharges" header="Admin Charges" [sortable]="true"></p-column>
            <p-column [style]="{'width':'130px'}" field="ModeofTransferType" header="Payment Type" [sortable]="true"></p-column>
            <p-column [style]="{'width':'130px'}" field="LoanTypeDescription" header="Loan Type" [sortable]="true"></p-column>
            <p-column [style]="{'width':'130px'}" field="LoanApprovalStatus" header="Approval Status" [sortable]="true"></p-column>
            <p-column [style]="{'width':'130px'}" field="TransferStatus" header="Transfer Status" [sortable]="true"></p-column>
            <p-column [style]="{'width':'130px'}" field="LoanStatusName" header="Payment Status" [sortable]="true"></p-column>
            <p-column [style]="{'width':'130px'}" field="CreatedOn" header="Applied On" [sortable]="true">
              <ng-template let-listOfTransferPendingLoans="rowData" pTemplate="body" let-ri="rowIndex">
                <div class="col-md-12" style="margin-left:-15px;">
                  {{getFormattedDate(listOfTransferPendingLoans.CreatedOn)}}
                </div>
              </ng-template>
            </p-column>
          </p-dataTable>
        </div>
      </div>
      <!-- Show list of Loans end here -->
      <div class="clearfix"></div>
      <div class="clearfix"></div>
      <h3 class="col-md-12 col-sm-12 col-xs-12" style="color: #dadae2;font-size: x-large;font-weight: bold;">Transfered Loans</h3>
      <div class="clearfix"></div>
      <!-- Show list of Transfered Loans start here -->
      <div>
        <div style="overflow: auto;">
          <p-dataTable id="TransferedLoans" [value]="listOfTransferedLoans" [loading]="false" [rows]="10" [paginator]="true" [pageLinks]="3"
            [rowsPerPageOptions]="[5,10,20]" selectionMode="single" [(selection)]="selectedRow">
            <p-column [style]="{'width':'100px'}" field="LoanID" header="LoanID" [sortable]="true"></p-column>
            <p-column [style]="{'width':'130px'}" field="UserName" header="User Name" [sortable]="true"></p-column>
            <p-column [style]="{'width':'130px'}" field="LoanTypeDescription" header="Loan Type" [sortable]="true"> </p-column>
            <p-column [style]="{'width':'130px'}" field="LoanAmount" header="Loan Amount" [sortable]="true"></p-column>
            <p-column [style]="{'width':'130px'}" field="IssuedAmount" header="Issued Amount" [sortable]="true"></p-column>
            <p-column [style]="{'width':'125px'}" field="AmountToPay" header="Amount To Pay" [sortable]="true"></p-column>
            <p-column [style]="{'width':'125px'}" field="AmountPaid" header="Amount Paid" [sortable]="true"></p-column>
            <p-column [style]="{'width':'130px'}" field="AdminCharges" header="Admin Charges" [sortable]="true"></p-column>
            <p-column [style]="{'width':'130px'}" field="ModeofTransferType" header="Payment Type" [sortable]="true"></p-column>
            <p-column [style]="{'width':'130px'}" field="LoanTypeDescription" header="Loan Type" [sortable]="true"></p-column>
            <p-column [style]="{'width':'130px'}" field="LoanApprovalStatus" header="Approval Status" [sortable]="true"></p-column>
            <p-column [style]="{'width':'130px'}" field="TransferStatus" header="Transfer Status" [sortable]="true"></p-column>
            <p-column [style]="{'width':'130px'}" field="LoanStatusName" header="Payment Status" [sortable]="true"></p-column>
            <p-column [style]="{'width':'130px'}" field="CreatedOn" header="Applied On" [sortable]="true">
              <ng-template let-listOfTransferedLoans="rowData" pTemplate="body" let-ri="rowIndex">
                <div class="col-md-12" style="margin-left: -15px;">
                  {{getFormattedDate(listOfTransferedLoans.CreatedOn)}}
                </div>
              </ng-template>
            </p-column>
          </p-dataTable>
        </div>
      </div>
      <!-- Show list of Transfered Loans end here -->

      <div class="clearfix"></div>
      <div class="clearfix"></div>
      <h3 class="col-md-12 col-sm-12 col-xs-12" style="color: #dadae2;font-size: x-large;font-weight: bold;">Transfer Rejected Loans</h3>
      <div class="clearfix"></div>
      <!-- Show list of Transfered Rejected Loans start here -->
      <div>
        <div style="overflow: auto;">
          <p-dataTable id="TransferRejectedLoans" [value]="listOfTransferRejectedLoans" [loading]="false" [rows]="10" [paginator]="true"
            [pageLinks]="3" [rowsPerPageOptions]="[5,10,20]" selectionMode="single" [(selection)]="selectedRow">
            <p-column [style]="{'width':'100px'}" field="LoanID" header="LoanID" [sortable]="true"></p-column>
            <p-column [style]="{'width':'130px'}" field="UserName" header="User Name" [sortable]="true"></p-column>
            <p-column [style]="{'width':'130px'}" field="LoanTypeDescription" header="Loan Type" [sortable]="true"></p-column>
            <p-column [style]="{'width':'130px'}" field="LoanAmount" header="Loan Amount" [sortable]="true"></p-column>
            <p-column [style]="{'width':'130px'}" field="IssuedAmount" header="Issued Amount" [sortable]="true"></p-column>
            <p-column [style]="{'width':'125px'}" field="AmountToPay" header="Amount To Pay" [sortable]="true"></p-column>
            <p-column [style]="{'width':'125px'}" field="AmountPaid" header="Amount Paid" [sortable]="true"></p-column>
            <p-column [style]="{'width':'130px'}" field="AdminCharges" header="Admin Charges" [sortable]="true"></p-column>
            <p-column [style]="{'width':'130px'}" field="ModeofTransferType" header="Payment Type" [sortable]="true"></p-column>
            <p-column [style]="{'width':'130px'}" field="LoanTypeDescription" header="Loan Type" [sortable]="true"></p-column>
            <p-column [style]="{'width':'130px'}" field="LoanApprovalStatus" header="Approval Status" [sortable]="true"></p-column>
            <p-column [style]="{'width':'130px'}" field="TransferStatus" header="Transfer Status" [sortable]="true"></p-column>
            <p-column [style]="{'width':'130px'}" field="LoanStatusName" header="Payment Status" [sortable]="true"></p-column>
            <p-column [style]="{'width':'130px'}" field="CreatedOn" header="Applied On" [sortable]="true">
              <ng-template let-listOfTransferRejectedLoans="rowData" pTemplate="body" let-ri="rowIndex">
                <div class="col-md-12" style="margin-left: -15px;">
                  {{getFormattedDate(listOfTransferRejectedLoans.CreatedOn)}}
                </div>
              </ng-template>
            </p-column>
          </p-dataTable>
        </div>
      </div>
      <!-- Show list of Transfered Rejected Loans end here -->
    </div>
    <div class="clearfix"></div>
  </div>
  <div class="clearfix"></div>
</div>

<admin-footer></admin-footer>

<!-- Phone number modal -->
<div class="phone-number-modal" *ngIf="isShowModal == 2" @dialog>
  <form [formGroup]="loanTransferStatusForm" (submit)="LoanTransferSattus(loanTransferStatusForm.value,loanTransferStatusForm.valid)">
    <div class="modal-container">
      <div class="modal-header">
        <h5>Transfer Status</h5>
        <i class="material-icons" (click)="isShowModal = 1">close</i>
      </div>
      <div class="clearfix"></div>

      <div class="modal-body">
        <div class="margin-top-10 col-md-12">
          <div class="col-md-12">
            <div class="label" style="color: #fff;">Approval Type</div>
            <div class="clearfix"></div>
            <select class="form-control dropdownstyle" formControlName="ID" required>
              <option value="" disabled selected>-- Select Transfer Ststus Type --</option>
              <option *ngFor="let transferStatus of listOfTransferStatus" value="{{transferStatus.ID}}">{{transferStatus.Status}}</option>
            </select>
            <div class="input-validation-msg">
            </div>
          </div>
        </div>
      </div>
      <div class="clearfix"></div>

      <div class="modal-footer modelfooter">
        <div class="col-md-12">
          <button type="submit" class="btn btn-primary btnupdate" [disabled]="!loanTransferStatusForm.valid">Submit</button>
        </div>
        <div class="clearfix"></div>
      </div>

      <div class="margin-top-10"></div>
      <div class="clearfix"></div>
    </div>
  </form>
</div>

<div class="confirm-modal-overay" *ngIf="isShowModal == 2" (click)="closeForm()"></div>