<div class="secretkey-container" @slideUp>
  <div id="divRadio" class="divRadio">
    <div class="">
      <input type="radio" [value]="'Active'" [checked]='IsSingleChecked' (change)="onSelectionChange($event.target.value)" />
      <span style="font-weight: bold;color:white;">Single Key</span>
      <input type="radio" class="rbml" [value]="'InActive'" [checked]='IsMultipleChecked' (change)="onSelectionChange($event.target.value)"
      />
      <span style="font-weight: bold;color: white;">Multiple Keys</span>
    </div>
  </div>

  <div class="secretkey-form" *ngIf="is_Visible_Single">
    <form [formGroup]="secretkeyForm" (submit)="registerKeyGenearation(secretkeyForm.value,secretkeyForm.valid)">
      <h3 class="col-md-12 col-sm-12 col-xs-12" style="color: #00c8aa;font-weight: bold;">{{'generateSecretKey' | translate}}</h3>
      <div class="clearfix"></div>
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-6 col-sm-12 col-xs-12">
            <div class="label" style="color: #fff;">Phone Number</div>
            <div class="clearfix"></div>
            <input type="text" class="form-control" placeholder="{{'phoneNumber' | translate}}" pTooltip="{{'phoneNumber' | translate}}"
              tooltipPosition="top" formControlName="PhoneNumber" required/>
            <div class="input-validation-msg">
              <validation *ngIf="isRequiredField(secretkeyForm.get('PhoneNumber'))" [errMsg]="'phoneNumberRqrd' | translate"></validation>
              <validation *ngIf="isValidLength(secretkeyForm.get('PhoneNumber'))" [errMsg]="'validLength' | translate"></validation>
              <validation *ngIf="isValidField(secretkeyForm.get('PhoneNumber'))" [errMsg]="'validPhoneNumber' | translate"></validation>
            </div>
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
      <div class="col-md-12 col-sm-12 col-xs-12 margin-top-15">
        <button type="submit" class="btn btn-primary" [disabled]="!secretkeyForm.valid" pTooltip="{{'secretkey' | translate}}" tooltipPosition="top">Generate Key</button>
      </div>
      <div class="clearfix"></div>
    </form>
    <div class="clearfix"></div>
  </div>
  <div class="secretkey-form" *ngIf="is_Visible_Multiple">
    <form [formGroup]="multipleSecretkeyForm" (submit)="generateMultipleSecretKey(multipleSecretkeyForm.value,multipleSecretkeyForm.valid)">
      <h3 class="col-md-12 col-sm-12 col-xs-12" style="color: #00c8aa;font-weight: bold;">{{'generateMultipleSecretKey' | translate}}</h3>
      <div class="clearfix"></div>
      <div class="col-md-6 col-sm-12 col-xs-12">
        <div class="row">
          <div class="col-md-6 col-sm-12 col-xs-12">
            <div class="label" style="color: #fff;">User ID</div>
            <div class="clearfix"></div>
            <input type="text" class="form-control" placeholder="UserID or UserName" pTooltip="UserID or UserName" tooltipPosition="top"
              formControlName="UserID" (change)="onChangeUsernameByDCIDorName(multipleSecretkeyForm.value)" required/>
            <div class="input-validation-msg">
              <validation *ngIf="isRequiredField(multipleSecretkeyForm.get('UserID'))" [errMsg]="'userIDUserNameRqrd' | translate"></validation>
            </div>
          </div>
          <div class="col-md-6 col-sm-12 col-xs-12">
            <div class="label" style="color: #fff;">User Name</div>
            <div class="clearfix"></div>
            <input type="text" class="form-control" placeholder="User Name" pTooltip="User Name" tooltipPosition="top" formControlName="UserName"
              readonly required/>
            <div class="input-validation-msg">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 col-sm-12 col-xs-12">
            <div class="label" style="color: #fff;">Wallet Balance</div>
            <div class="clearfix"></div>
            <input type="text" class="form-control" formControlName="WalletBalance" />
            <div class="input-validation-msg">
            </div>
          </div>
          <div class="col-md-3 col-sm-12 col-xs-12">
            <div class="label" style="color: #fff;">Number of Keys</div>
            <div class="clearfix"></div>
            <input type="text" class="form-control" placeholder="Number of Keys" pTooltip="Number of Keys" tooltipPosition="top" formControlName="NoOfKeys"
              (change)="onChangeNoOfKeys(multipleSecretkeyForm.value.NoOfKeys)" required/>
            <div class="input-validation-msg validationlabel">
              <validation *ngIf="isRequiredField(multipleSecretkeyForm.get('NoOfKeys'))" [errMsg]="'noOfKeysRqrd' | translate"></validation>
              <validation *ngIf="isValidField(multipleSecretkeyForm.get('NoOfKeys'))" [errMsg]="'validNoOfKeys' | translate"></validation>
            </div>
          </div>
          <div class="col-md-3 col-sm-12 col-xs-12">
            <div class="label" style="color: #fff;">Total Amount</div>
            <div class="clearfix"></div>
            <input type="text" class="form-control" readonly value="{{TotalAmount}}" />
            <div class="input-validation-msg">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 col-sm-12 col-xs-12">
            <div class="label" style="color: #fff;">Key Type</div>
            <div class="clearfix"></div>
            <select class="form-control dropdownstyle" (change)="onChangeKeyType($event.target.value)" formControlName="KeyType" required>
              <option *ngFor="let keyType of KeyTypes" value="{{keyType.KeyID}}">{{keyType.KeyName}}</option>
            </select>
            <div class="input-validation-msg">
            </div>
          </div>
          <div class="col-md-6 col-sm-12 col-xs-12">
            <div class="label" style="color: #fff;">Wallet</div>
            <div class="clearfix"></div>
            <span class="-addon checkbox check-primary bg-transparent">
              <input type="checkbox" [(ngModel)]="isChecked" formControlName="IsWallet" (change)="onCheckedChange(isChecked?'on':'off')">
              <label for="IsWallet">&nbsp;</label>
            </span>
            <div class="input-validation-msg">
            </div>
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
      <div class="col-md-12 col-sm-12 col-xs-12 margin-top-15">
        <button type="submit" class="btn btn-primary" [disabled]="!multipleSecretkeyForm.valid" pTooltip="{{'secretkey' | translate}}"
          tooltipPosition="top">Generate Key</button>
      </div>
      <div class="clearfix"></div>
    </form>
    <div class="clearfix"></div>
  </div>
  <div>
    <div class="row">
      <div class="col-md-12 margin-top-30 logo-section-mobile">
        <h2 class="col-md-12 col-sm-12 col-xs-12" style="color: #00c8aa;font-weight: bold;">{{gridTitle}}</h2>
        <div class="clearfix"></div>
      </div>
    </div>
    <p-dataTable [value]="listRegKeys" [loading]="false" [rows]="10" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[5,10,20]"
      selectionMode="single" [(selection)]="selectedRow">
      <p-column [style]="{'width':'75px'}" field="RegKey" header="Secret Key" [sortable]="true"></p-column>
      <p-column [style]="{'width':'80px'}" field="PhoneNumber" header="Phone Number" [sortable]="true"></p-column>
      <p-column [style]="{'width':'60px'}" field="RegKeyStatus" header="Status" [sortable]="true"></p-column>
      <p-column [style]="{'width':'60px'}" field="KeyType" header="Key Type" [sortable]="true">
        <ng-template let-listRegKeys="rowData" pTemplate="body" let-ri="rowIndex">
          <div class="col-md-12" style="margin-left: -15px;">
            {{getKeyType(listRegKeys.KeyType)}}
          </div>
        </ng-template>
      </p-column>
      <p-column [style]="{'width':'70px'}" field="KeyCost" header="Key Cost" [sortable]="true"></p-column>
      <!-- <p-column [style]="{'width':'200px'}" field="CreatedBy" header="Generated By" [sortable]="true"></p-column> -->
      <p-column [style]="{'width':'100px'}" field="GeneratedByName" header="Generated By" [sortable]="true"></p-column>
      <p-column [style]="{'width':'100px'}" field="IssuedToUserName" header="Issued To" [sortable]="true"></p-column>
      <p-column [style]="{'width':'100px'}" field="CreateDate" header="Generated Date" [sortable]="true">
        <ng-template let-listRegKeys="rowData" pTemplate="body" let-ri="rowIndex">
          <div class="col-md-12" style="margin-left: -15px;">
            {{getFormattedDate(listRegKeys.CreateDate)}}
          </div>
        </ng-template>
      </p-column>
      <p-column [style]="{'width':'60px'}" header="Send Key">
        <ng-template let-listRegKeys="rowData" pTemplate="body" let-ri="rowIndex">
          <button type="button" class="btn btn-primary btnsendsms" (click)="onShowPhoneNumberModal(ri)">Send SMS</button>
        </ng-template>
      </p-column>

    </p-dataTable>
  </div>
</div>
<!-- Show list of register keys end here -->



<!-- Phone number modal -->
<div class="phone-number-modal" *ngIf="isShowModal == 2" @dialog>
  <form [formGroup]="phoneNumberForm" (submit)="ResendSecretKey(phoneNumberForm.value.PhoneNumber,phoneNumberForm.valid)">
    <div class="modal-container">
      <div class="modal-header">
        <h5>{{'phnNumber' | translate}}</h5>
        <i class="material-icons" (click)="isShowModal = 1">close</i>
      </div>
      <div class="clearfix"></div>

      <div class="modal-body">
        <div class="margin-top-10 col-md-12 countryCode">
          <div class="col-md-9 padding-right-0">
            <input type="text" placeholder="{{'mobileNumber' | translate}}" pTooltip="{{'mobileNumber' | translate}}" tooltipPosition="top"
              class="form-control" Autofocus formControlName="PhoneNumber" required/>
            <div class="input-validation-msg">
              <validation *ngIf="isRequiredField(phoneNumberForm.get('PhoneNumber'))" [errMsg]="'phoneNumberRqrd' | translate"></validation>
              <validation *ngIf="isValidLength(phoneNumberForm.get('PhoneNumber'))" [errMsg]="'PhoneNumberLength' | translate"></validation>
              <validation *ngIf="isValidField(phoneNumberForm.get('PhoneNumber'))" [errMsg]="'validPhoneNumber' | translate"></validation>
            </div>
          </div>
        </div>
      </div>
      <div class="clearfix"></div>

      <div class="modal-footer modelfooter">
        <div class="col-md-12">
          <button type="submit" class="btn btn-primary btnupdate" [disabled]="!phoneNumberForm.valid">Resend SMS</button>
        </div>
        <div class="clearfix"></div>
      </div>

      <div class="margin-top-10"></div>
      <div class="clearfix"></div>
    </div>
  </form>
</div>

<div class="confirm-modal-overay" *ngIf="isShowModal == 2" (click)="closeForm()"></div>
<admin-footer></admin-footer>