<div class="masterscreen-container" @slideUp>
  <div class="masterscreen-form">
    <form [formGroup]="requestFundsForm" (submit)="requestFunds(requestFundsForm.value,requestFundsForm.valid)">
      <h3 class="col-md-12 col-sm-12 col-xs-12" style="color: #00c8aa;">Request Funds</h3>
      <div class="clearfix"></div>
      <div class="col-md-6 col-sm-12 col-xs-12">
        <div class="row">
          <div class="col-md-6 col-sm-12 col-xs-12">
            <div class="label" style="color: #fff;">Request From</div>
            <div class="clearfix"></div>
            <input type="text" class="form-control" formControlName="UserName" readonly required/>
            <div class="input-validation-msg">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 col-sm-12 col-xs-12">
            <div class="label" style="color: #fff;">Requested Username or DCID</div>
            <div class="clearfix"></div>
            <input type="text" class="form-control" placeholder="Requested Username or DCID" pTooltip="Requested Username or DCID" tooltipPosition="top"
              formControlName="RequestTo" (change)="onChangeUsernameByDCIDorName(requestFundsForm.value.RequestTo)" required/>
            <div class="input-validation-msg">
              <validation *ngIf="isRequiredField(requestFundsForm.get('RequestTo'))" [errMsg]="'requestToRqrd' | translate"></validation>
              <validation *ngIf="isValidField(requestFundsForm.get('RequestTo'))" [errMsg]="'validRequestTo' | translate"></validation>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 col-sm-12 col-xs-12">
            <div class="label" style="color: #fff;">Requested Name</div>
            <div class="clearfix"></div>
            <input type="text" class="form-control" placeholder="Requested Name" formControlName="RequestedName" readonly/>
            <div class="input-validation-msg">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 col-sm-12 col-xs-12">
            <div class="label" style="color: #fff;">Requested Amount</div>
            <div class="clearfix"></div>
            <input type="text" class="form-control" placeholder="Request Amount" pTooltip="Request Amount" tooltipPosition="top" formControlName="RequestedAmount"
              required/>
            <div class="input-validation-msg">
              <validation *ngIf="isRequiredField(requestFundsForm.get('RequestedAmount'))" [errMsg]="'requestAmountRqrd' | translate"></validation>
              <validation *ngIf="isValidField(requestFundsForm.get('RequestedAmount'))" [errMsg]="'validRequestAmount' | translate"></validation>
              <validation *ngIf="isMinValueField(requestFundsForm.get('RequestedAmount'))" [errMsg]="'Approved amount should not be zero' | translate"></validation>
            </div>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="clearfix"></div>
      <div class="col-md-12 col-sm-12 col-xs-12 margin-top-15">
        <button type="submit" class="btn btn-primary btncancel" [disabled]="!requestFundsForm.valid">Submit</button>
      </div>
      <div class="clearfix"></div>
    </form>
  </div>
</div>
<h3 class="col-md-12 col-sm-12 col-xs-12" style="color: #00c8aa;">My Fund Request Details</h3>
<div class="clearfix"></div>
<div class="row">
  <div class="col-md-12">
    <div class="transaction-history-container">
      <div class="transaction-history-table box-shadow">
        <p-dataTable [value]="lstUserFundsRequestDetails" [loading]="false" [rows]="10" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[5,10,20]">
          <p-column field="ID" header="Request Id" [sortable]="true"></p-column>
          <p-column field="RequestedTo" header="Requested To" [sortable]="true"></p-column>
          <p-column field="RequestedAmount" header="Requested Amount" [sortable]="true"></p-column>
          <p-column [style]="{'width':'140px'}" field="ApprovedAmount" header="Approved Amount" [sortable]="true"></p-column>
          <p-column field="Description" header="Requested Status" [sortable]="true"></p-column>
          <p-column field="CreatedOn" header="Requested On" [sortable]="true">
            <ng-template let-lstUserFundsRequestDetails="rowData" pTemplate="body" let-ri="rowIndex">
              <div class="col-md-12" style="margin-left: -15px;">
                {{getFormattedDate(lstUserFundsRequestDetails.CreatedOn)}}
              </div>
            </ng-template>
          </p-column>
        </p-dataTable>
      </div>
    </div>
  </div>
</div>

<admin-footer></admin-footer>