<div *ngIf="imgCount > 0">
  <p-carousel headerText="Employees Photo Gallery" [value]="images" numVisible="6" effectDuration="slow" pageLinks="10" easing="ease-out"
    circular="false" autoplayInterval="3000">
    <ng-template let-image pTemplate="item">
      <div class="ui-grid ui-grid-responsive">
        <div class="ui-grid-row">
          <div class="ui-grid-col-12">
            <img [src]='formImgSrc(image.ImageContent,image.ImageName)' class="imgheight">
          </div>
        </div>
        <div style="text-align: center !important;">
          <div class="ui-grid-row">
            <div class="ui-grid-col-12">{{image.EmployeeName}}</div>
          </div>
          <div class="ui-grid-row">
            <div class="ui-grid-col-12" style="font-size: small;">{{image.Designation}}</div>
          </div>
        </div>
      </div>
    </ng-template>
  </p-carousel>
</div>
<!-- <div *ngIf="noImgCount == 0">
  <div class="col-md-12 margin-top-30 logo-section-mobile">
    <h2 class="margin-0">No images found....</h2>
    <div class="clearfix"></div>
  </div>
</div> -->