.btnyes{
    width: 90px; 
    margin-left: 10px;
}
.btnno{
    width: 90px;
    background: #e85454;
    border: #e85454; 
    margin-left: 20px;
}

.padding-col-md-12{
    padding-left: 13px !important;
}

.btnapprove{
    /* width: 65px; */
    text-align: center;
    padding: 0.25em 1em 0.25em 1em;
    border-radius: 15px;
    background: #2399e5 !important;
    border: 1px solid #2399e5 !important;
    color: #FFFFFF !important;
}

.divmyrequests{
    margin-left: 5px;
}

@media only screen and (max-width: 767px) and (min-width: 320px){
    
    .btnapprove{
        width: 65px !important;
        text-align: center;
    }

}