<div class="secretkey-container" @slideUp>
  <!-- Start For Franchise only -->
  <div class="secretkey-form" *ngIf="is_Visible_Franchise">
    <div>
      <h3 class="col-md-12 col-sm-12 col-xs-12" style="color: #00c8aa;font-weight: bold;">Franchise Requset</h3>
      <div class="clearfix"></div>
      <div class="col-md-12 col-sm-12 col-xs-12 margin-top-15">
        <button type="button" class="btn btn-primary" style="width: 130px;" (click)="FranchiseRequest()" pTooltip="Request" tooltipPosition="top">Request</button>
      </div>
      <div class="clearfix"></div>
      <div class="row">
        <div class="col-md-12 margin-top-30 logo-section-mobile">
          <h2 class="col-md-12 col-sm-12 col-xs-12" style="color: #00c8aa;font-weight: bold;">My Requests</h2>
          <div class="clearfix"></div>
          <div>
            <div style="overflow: auto;">
              <p-dataTable [value]="listFranchiseUserRequests" [loading]="false" [rows]="10" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[5,10,20]">
                <p-column [style]="{'width':'100px'}" field="ID" header="Request ID" [sortable]="true"></p-column>
                <p-column [style]="{'width':'100px'}" field="UserName" header="Request By" [sortable]="true"></p-column>
                <p-column [style]="{'width':'100px'}" field="Status" header="Status" [sortable]="true"></p-column>
                <p-column [style]="{'width':'130px'}" field="RequestedMonth" header="Requested On" [sortable]="true">
                  <ng-template let-listFranchiseUserRequests="rowData" pTemplate="body" let-ri="rowIndex">
                    <div class="col-md-12" style="margin-left: -15px;">
                      {{getFormattedDate(listFranchiseUserRequests.RequestedMonth)}}
                    </div>
                  </ng-template>
                </p-column>
              </p-dataTable>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
  <!-- End For Franchise only -->

  <!-- Start For Admin only -->
  <div class="secretkey-form" *ngIf="is_Visible_Admin">
    <div class="row">
      <div class="col-md-12 margin-top-30 logo-section-mobile">
        <h2 class="col-md-12 col-sm-12 col-xs-12" style="color: #00c8aa;font-weight: bold;">Franchise Requsets</h2>
        <div class="clearfix"></div>
        <div>
          <div style="overflow: auto;">
            <p-dataTable [value]="listFranchiseUserRequests" [loading]="false" [rows]="10" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[5,10,20]">
              <p-column [style]="{'width':'100px'}" field="ID" header="Request ID" [sortable]="true"></p-column>
              <p-column [style]="{'width':'100px'}" field="UserName" header="Request By" [sortable]="true"></p-column>
              <p-column [style]="{'width':'100px'}" field="Status" header="Status" [sortable]="true"></p-column>
              <p-column [style]="{'width':'130px'}" field="RequestedMonth" header="Requested On" [sortable]="true">
                <ng-template let-listFranchiseUserRequests="rowData" pTemplate="body" let-ri="rowIndex">
                  <div class="col-md-12" style="margin-left: -15px;">
                    {{getFormattedDate(listFranchiseUserRequests.RequestedMonth)}}
                  </div>
                </ng-template>
              </p-column>
            </p-dataTable>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End For Admin only -->
</div>

<div class="phone-number-modal" *ngIf="isShowModal == 2" @dialog>
  <div>
    <div class="modal-container">
      <div class="modal-header">
        <h5>Do you want proceed the reques ? </h5>
        <i class="material-icons" (click)="isShowModal = 1">close</i>
      </div>
      <div class="clearfix"></div>

      <div class="modal-body">
        <div class="margin-top-10 col-md-12 countryCode">
          <div class="col-md-9 padding-right-0">
            <div class="col-md-12 col-md-offset-3">
              <button type="button" (click)="AccecptRequest('Yes')" class="btn btn-primary btnyes">Yes</button>
              <button type="button" (click)="AccecptRequest('No')" class="btn btn-primary btnno">No</button>
            </div>
          </div>
        </div>
      </div>
      <div class="clearfix"></div>

      <div class="modal-footer modelfooter">

        <div class="clearfix"></div>
      </div>

      <div class="margin-top-10"></div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>

<div class="confirm-modal-overay" *ngIf="isShowModal == 2" (click)="closeForm()"></div>

<admin-footer></admin-footer>