.imgstyle{
    height: 80px;
    width: 80px;
    position: relative;
}

.pmenu{
    overflow: auto;
    width: 500px !important;
}

@media only screen and (max-width: 767px) and (min-width: 320px){
    .pmenu{
        overflow: auto;
        width: 500px !important;
    }
}