<div class="coursemaster-container" @slideUp>
  <div class="coursemaster-form">
    <!-- Grid start -->
    <h3 class="col-md-12 col-sm-12 col-xs-12" style="color: #00c8aa;">Screen Master Details</h3>
    <div class="clearfix"></div>
    <div class="row">
      <!-- <div class="col-md-3"></div> -->
      <div class="col-md-12">
        <div class="transaction-history-container">
          <div class="transaction-history-table box-shadow">
            <p-dataTable [value]="lstScreenMaster" [loading]="false" [rows]="10" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[5,10,20]"
              rowExpandMode="single" expandableRows="true" (onRowExpand)="getRoleMenusByScreenID($event.data.MenuID)">
              <p-header [style]="{'width': '100%'}">
                <div class="divstyles">
                  <button type="button" class="btn btn-primary btnstyles" (click)="ViewScreenMasterModel()">Add Screen</button>
                </div>
              </p-header>
              <p-column [style]="{'width':'40px'}" expander="false" styleClass="col-icon" field="MenuID" header="ID" [sortable]="true">
              </p-column>
              <ng-template let-parentdata="rowData" pTemplate="rowexpansion">
                <div class="divinnergrid">
                  <p-dataTable [value]="lstRoleMenus" [loading]="false" [rows]="10" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[5,10,20]">
                    <p-header [style]="{'width': '100%'}">
                      <div class="divstyles">
                        <button type="button" class="btn btn-primary btnstyles" (click)="ViewScreenRoleModel()">Add Role to Screen</button>
                      </div>
                    </p-header>
                    <p-column [style]="{'width':'120px'}" field="RoleName" header="Role" [sortable]="true"></p-column>
                    <p-column [style]="{'width':'100px'}" header="Edit">
                      <ng-template let-data="rowData" pTemplate="body" let-ri="rowIndex">
                        <div class="col-md-12" style="margin-left: -30px;">
                          <div class="col-md-6" style="width:100px">
                            <button type="button" class="btn btn-primary btndelete" (click)="deleteMapModel(data)">Delete</button>
                          </div>
                        </div>
                      </ng-template>
                    </p-column>
                  </p-dataTable>
                </div>
              </ng-template>
              <p-column [style]="{'width':'110px'}" field="MenuName" header="Screen Code" [sortable]="true"></p-column>
              <p-column [style]="{'width':'100px'}" field="MenuDescription" header="Screen Description" [sortable]="true"></p-column>

              <p-column [style]="{'width':'50px'}" header="Edit">
                <ng-template let-data="rowData" pTemplate="body" let-ri="rowIndex">
                  <div class="col-md-12" style="margin-left: -30px;">
                    <div class="col-md-6" style="width:100px">
                      <button type="button" class="btn btn-primary btnedit" (click)="EditScreenMaster(data)">Edit</button>
                    </div>
                  </div>
                </ng-template>
              </p-column>
            </p-dataTable>
          </div>
        </div>
      </div>
      <!-- <div class="col-md-3"></div> -->
    </div>
    <!-- Grid End -->
  </div>
</div>
<admin-footer></admin-footer>

<div class="phone-number-modal" *ngIf="isShowModal == 2" @dialog>
  <form [formGroup]="frmScreenMaster" (submit)="CreateScreenMaster(frmScreenMaster.value,frmScreenMaster.valid)">
    <div class="modal-container" style="height: 200px !important;">
      <div class="modal-header" style="background: #797b85;">
        <h5>{{actiontype}}</h5>
        <i class="material-icons" (click)="closeForm()">close</i>
      </div>
      <div class="clearfix"></div>
      <div class="modal-body" style="height: 50px;">
        <div class="col-md-12">
          <div class="clearfix"></div>
          <div class="margin-top-15 col-md-12">
            <div>
              <div class="label" style="color: #fff;">Screen Code</div>
              <div class="clearfix"></div>
              <input type="text" class="form-control" (keypress)="restrictSpace($event)" formControlName="MenuName" required/>
              <div class="input-validation-msg">
                <validation *ngIf="isRequiredField(frmScreenMaster.get('MenuName'))" [errMsg]="'Please enter Screen code' | translate"></validation>
              </div>
            </div>
          </div>
          <div class="clearfix"></div>
          <div class="margin-top-15 col-md-12">
            <div>
              <div class="label" style="color: #fff;">Screen Description</div>
              <div class="clearfix"></div>
              <input type="text" class="form-control" formControlName="MenuDescription" (keypress)="restrictSpace($event)" required/>
              <div class="input-validation-msg">
                <validation *ngIf="isRequiredField(frmScreenMaster.get('MenuDescription'))" [errMsg]="'Please enter screen description' | translate"></validation>
              </div>
            </div>
          </div>
          <div class="clearfix"></div>
          <div class="modal-footer">
            <div class="col-md-12 col-sm-12 col-xs-12 col-md-offset-3">
              <button type="submit" [disabled]="!frmScreenMaster.valid" style="width: 90px; margin-left: 10px;" class="btn btn-primary">Submit</button>
              <button type="button" style="width: 90px;background: #e85454;border: #e85454; margin-left: 20px;" (click)="closeForm()" class="btn btn-primary">Cancel</button>
            </div>
            <div class="clearfix"></div>
          </div>
          <div class="margin-top-10"></div>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </form>
</div>
<div class="clearfix"></div>

<div class="phone-number-modal" *ngIf="isShowModal == 3" @dialog>
  <form [formGroup]="fgRoleMenu" (submit)="CreateRoleMenu(fgRoleMenu.value,fgRoleMenu.valid)">
    <div class="modal-container" style="height: 200px !important;">
      <div class="modal-header" style="background: #797b85;">
        <h5>{{actiontype}}</h5>
        <i class="material-icons" (click)="closeForm()">close</i>
      </div>
      <div class="clearfix"></div>
      <div class="modal-body" style="height: 50px;">
        <div class="col-md-12">
          <div class="clearfix"></div>
          <div class="margin-top-15 col-md-12">
            <div>
              <div class="label" style="color: #fff;">Role</div>
              <div class="clearfix"></div>
              <!-- <input type="text" class="form-control" (keypress)="restrictSpace($event)" formControlName="RoleID" required/>
              <div class="input-validation-msg">
                <validation *ngIf="isRequiredField(fgRoleMenu.get('RoleID'))" [errMsg]="'Please select role' | translate"></validation>
              </div> -->

              <select class="form-control dropdownstyle" formControlName="RoleID" required>
                <option value="" disabled selected>-- Select Role --</option>
                <option *ngFor="let role of lstRoles" value="{{role.RoleID}}">{{role.Name}}</option>
              </select>
              <div class="input-validation-msg">
              </div>

            </div>
          </div>

          <div class="clearfix"></div>
          <div class="modal-footer">
            <div class="col-md-12 col-sm-12 col-xs-12 col-md-offset-3">
              <button type="submit" [disabled]="!fgRoleMenu.valid" style="width: 90px; margin-left: 10px;" class="btn btn-primary">Submit</button>
              <button type="button" style="width: 90px;background: #e85454;border: #e85454; margin-left: 20px;" (click)="closeForm()" class="btn btn-primary">Cancel</button>
            </div>
            <div class="clearfix"></div>
          </div>
          <div class="margin-top-10"></div>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </form>
</div>
<div class="clearfix"></div>
<div class="phone-number-modal popuptop" *ngIf="isShowModal == 4" @dialog>
  <div>
    <div class="modal-container">
      <div class="modal-header">
        <h5>Do you want to delete? </h5>
        <i class="material-icons" (click)="isShowModal = 1">close</i>
      </div>
      <div class="clearfix"></div>

      <div class="modal-body">
        <div class="margin-top-10 col-md-12">
          <div class="col-md-9 padding-right-0">
            <div class="col-md-12 col-md-offset-3">
              <button type="button" (click)="DeleteRoleMenu('Yes')" class="btn btn-primary btnyes">Yes</button>
              <button type="button" (click)="DeleteRoleMenu('No')" class="btn btn-primary btnno">No</button>
            </div>
          </div>
        </div>
      </div>
      <div class="clearfix"></div>

      <div class="modal-footer modelfooter">

        <div class="clearfix"></div>
      </div>

      <div class="margin-top-10"></div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
<div class="clearfix"></div>

<div class="confirm-modal-overay" *ngIf="isShowModal == 2 || isShowModal == 3 || isShowModal == 4" (click)="closeForm()"></div>