.dropdownstyle{
    width: 255px;margin-top: 5px;
}

.divstyles{
    text-align: -webkit-right;
    margin-top: -15px;
}

.divinnergrid{
    margin-left: 40px;
    margin-right: 40px;
}

.btnstyles{
    margin: 15px 0 0 0;
    padding: 0.25em 1em 0.25em 1em;
    border-radius: 15px;
}
  
  .btnedit{
    text-align: center;
    padding: 0.25em 1em 0.25em 1em;
    border-radius: 15px;
    background: #2399e5 !important;
    border: 1px solid #2399e5 !important;
    color: #FFFFFF !important;
  }
  
@media only screen and (max-width: 767px) and (min-width: 320px){
    .dropdownstyle{
        width: 390px !important;margin-top: 5px;
    }

    .btnstyles{
        margin: 15px 0 0 0;
        padding: 0.25em 1em 0.25em 1em;
        border-radius: 15px;
      }
}