.btnnoteligible{
    background-color: #e85454 !important;
    border: 0px solid #e85454 !important;
}
.btneligible{
    background-color: #186ba0 !important;
    border: 0px solid #186ba0 !important;
}