<!-- Start Footer -->
<div class="col-md-12 login-footer">
  <div class="col-md-4 col-sm-12 col-xs-12 copy-right margin-top-15">
    <div>© 2018 Diamand Care.All rights reserved.</div>
  </div>

  <div class="col-md-4 col-sm-12 col-xs-12 footer-hyper-link">
    <div>
      {{'doYouQuestion' | translate}}
      <a href="mailto:diamandcare@gmail.com">diamandcare@gmail.com</a>
    </div>
    <div class="margin-top-10">
      <a (click)="home()">{{'home' | translate}}</a>
    </div>
  </div>

  <div class="col-md-4 col-sm-12 col-xs-12 social-icons-before-login margin-top-10">
    <a href="" pTooltip="{{'facebook' | translate}}" tooltipPosition="top" class="facebook" target="_blank">
      <i class="fa fa-facebook-square"></i>
    </a>

    <a href="" pTooltip="{{'twitter' | translate}}" tooltipPosition="top" class="twitter" target="_blank">
      <i class="fa fa-twitter-square"></i>
    </a>

    <a href="" pTooltip="{{'telegram' | translate}}" tooltipPosition="top" class="telegram" target="_blank">
      <i class="fa fa-telegram"></i>
    </a>

    <a href="" pTooltip="{{'medium' | translate}}" tooltipPosition="top" class="medium" target="_blank">
      <i class="fa fa-medium"></i>
    </a>

    <a href="" pTooltip="{{'github' | translate}}" tooltipPosition="top" class="github" target="_blank">
      <i class="fa fa-github-square"></i>
    </a>
  </div>
</div>
<div class="clearfix"></div><!-- End Footer -->
