<div class="upgradefranchisescreen-container" @slideUp>
  <div class="upgradefranchisescreen-form">
    <form [formGroup]="frmUpgradeToFranchise" (submit)="UpgradeToFranchise(frmUpgradeToFranchise.value,frmUpgradeToFranchise.valid)">
      <h3 class="col-md-12 col-sm-12 col-xs-12" style="color: #00c8aa;">Upgrade to Franchise</h3>
      <div class="clearfix"></div>
      <div class="col-md-6 col-sm-12 col-xs-12">
        <div class="row">
          <div class="col-md-6 col-sm-12 col-xs-12">
            <div class="label" style="color: #fff;">User ID</div>
            <div class="clearfix"></div>
            <input type="text" class="form-control" placeholder="UserID or UserName" pTooltip="UserID or UserName" tooltipPosition="top"
              formControlName="UserID" (change)="onUsernameByDCIDorName(frmUpgradeToFranchise.value)" required/>
            <div class="input-validation-msg">
              <validation *ngIf="isRequiredField(frmUpgradeToFranchise.get('UserID'))" [errMsg]="'userIDUserNameRqrd' | translate"></validation>
            </div>
          </div>
          <div class="col-md-6 col-sm-12 col-xs-12">
            <div class="label" style="color: #fff;">User Name</div>
            <div class="clearfix"></div>
            <input type="text" class="form-control" placeholder="UserName" pTooltip="UserName" tooltipPosition="top" formControlName="UserName"
              readonly required/>
          </div>
        </div>
        <div class="clearfix"></div>
        <div class="row">
          <div class="col-md-6 col-sm-12 col-xs-12">
            <div class="label" style="color: #fff;">Franchise Type</div>
            <div class="clearfix"></div>
            <select class="form-control dropdownstyle" (change)="getUnderFranchiseDetails($event.target.value)" formControlName="FranchiseTypeID"
              required>
              <option value="" disabled selected>--Select Franchise Type--</option>
              <option *ngFor="let franchiseType of FranchiseTypes" value="{{franchiseType.ID}}">{{franchiseType.FranchiseType}}</option>
            </select>
            <div class="input-validation-msg">
            </div>
          </div>
          <div class="col-md-6 col-sm-12 col-xs-12">
            <div class="label" style="color: #fff;">Under Franchise</div>
            <div class="clearfix"></div>
            <select class="form-control dropdownstyle" formControlName="UnderFranchiseID" required>
              <option *ngFor="let franchiseDetails of UnderFranchiseDetails" value="{{franchiseDetails.UserID}}">{{franchiseDetails.UserName}}</option>
            </select>
            <div class="input-validation-msg">
            </div>
          </div>
        </div>
        <div class="clearfix"></div>
        <div class="row">
          <div class="col-md-6 col-sm-12 col-xs-12">
            <div class="label" style="color: #fff;">Conditions Apply Self</div>
            <div class="clearfix"></div>
            <span class="-addon checkbox check-primary bg-transparent">
              <input type="checkbox" formControlName="ConditionsApplySelf">
              <label for="ConditionsApplySelf">&nbsp;</label>
            </span>
            <div class="input-validation-msg">
            </div>
          </div>
          <div class="col-md-6 col-sm-12 col-xs-12">
            <div class="label" style="color: #fff;">Conditions Apply Under Joinees</div>
            <div class="clearfix"></div>
            <span class="-addon checkbox check-primary bg-transparent">
              <input type="checkbox" formControlName="ConditionsApplyUnderJoinees">
              <label for="ConditionsApplyUnderJoinees">&nbsp;</label>
            </span>
            <div class="input-validation-msg">
            </div>
          </div>
        </div>
        <div class="clearfix"></div>
        <div class="row">
          <div class="col-md-6 col-sm-12 col-xs-12">
            <div class="label" style="color: #fff;">Franchise Joinees</div>
            <div class="clearfix"></div>
            <input type="text" class="form-control" formControlName="FranchiseJoinees" required/>
            <div class="input-validation-msg">
              <validation *ngIf="isRequiredField(frmUpgradeToFranchise.get('FranchiseJoinees'))" [errMsg]="'franchiseRqrd' | translate"></validation>
              <validation *ngIf="isValidField(frmUpgradeToFranchise.get('FranchiseJoinees'))" [errMsg]="'validFranchiseJoinees' | translate"></validation>
            </div>
          </div>
          <div class="col-md-6 col-sm-12 col-xs-12">
            <div class="label" style="color: #fff;">Franchise Joinees Minimum</div>
            <div class="clearfix"></div>
            <input type="text" class="form-control" formControlName="FranchiseJoineesMinimum" required/>
            <div class="input-validation-msg">
              <validation *ngIf="isRequiredField(frmUpgradeToFranchise.get('FranchiseJoineesMinimum'))" [errMsg]="'franchiseJoineesMinimumRqrd' | translate"></validation>
              <validation *ngIf="isValidField(frmUpgradeToFranchise.get('FranchiseJoineesMinimum'))" [errMsg]="'validFranchiseJoineesMinimum' | translate"></validation>
            </div>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="clearfix"></div>
      <div class="col-md-12 col-sm-12 col-xs-12 margin-top-15">
        <button type="submit" class="btn btn-primary" [disabled]="!frmUpgradeToFranchise.valid" pTooltip="{{'submit' | translate}}"
          tooltipPosition="top">{{'submit' | translate}}</button>
      </div>
      <div class="clearfix"></div>
    </form>
  </div>
  <div class="clearfix"></div>
</div>

<!-- <div class="sucess-msg">
  <p-messages [(value)]="msgs"></p-messages>
</div> -->

<admin-footer></admin-footer>